/* FONT */
 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* GENERAL */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px, 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
}

/* NAVBAR */ 

.navbar-box {
  display: inline-block;
  width: auto;
  height: auto;
}

.navbar {
  background-color: #B6AC97;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  color: red;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}


/* BANNER IMAGE */

.banner-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(http://localhost/STUDI/ECF/SiteWeb/img/restaurant.jpg);
  background-size: cover;
  height: 115vh;
  min-height: 400px;
  z-index: -1;
}

.banner-image h1 {

  color: #ffffff; 
  font-size: 140px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  text-align: center;
  margin-top: -350px;
}

.banner-image h2 {
  color: #ffffff; 
  font-size: 50px;
  text-shadow: 2px 2px #000000;
  text-align: center;
}


/* TEXT BETWEEN */

.presentation-restaurant {
  color: #392C1E;
  text-align: center;
  padding: 30px 0;
}

.presentation-restaurant h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #B6AC97;
  text-transform: uppercase;
  padding-bottom: 20px;
  
}

.presentation-restaurant p {
  font-family: 'Lora', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #906427;
  margin: 20px 0;
}


/* GALLERY */

.gallery-links {
  margin: 0 60px;
}
.gallery-links h2 {
  font-size: 45px;
  font-weight: 700;
  color: #B6AC97;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}


.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #B6AC97;
}

.gallery-container a {
  width: 450px;
  margin: 20px 10px 0;
  text-decoration: none;
  background-color: #F0E8D7;
  color: #392C1E;
  border: 3px solid #906427;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  box-shadow: 2px 2px 10px #888888;
}

.gallery-container a:hover {
  opacity: 0.8;
}

.gallery-container a div {
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #906427;
  border-radius: 10px;
}

.gallery-container a h3 {
  font-size: 20px;
  font-weight: 700;
  color: #392C1E;
  padding: 10px 0;
}

.gallery-container a p {
  color: #392C1E;
  font-weight: 600;
  padding: 10px 0;
}

/* GALLERY UPLOAD */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-upload {
  width: 500px; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  color: #392C1E;
  background-color: #F0E8D7;
}

.gallery-upload label {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#id {
  width: 100px;
}

.gallery-upload form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.gallery-upload input[type="text"],
.gallery-upload input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #E9E2D2;
  font-size: 16px;
  color: #392C1E;
  font-family: 'Montserrat', sans-serif;
}

.gallery-upload input[type="submit"] {
  padding: 10px 20px;
  background-color: #906427;
  color: #E9E2D2;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.gallery-upload input[type="submit"]:hover {
  background-color: #E9E2D2;
  color: #906427;
}

/* MEDIA QUERIES */

/* BOOKING BUTTON */

.booking-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 800px;
  margin: 0 auto;
  background-image: url(http://localhost/STUDI/ECF/SiteWeb/img/terrasse.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.booking-box h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #392C1E;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.booking-box .button {
  background-color: #392C1E;
  color: #B6AC97;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 100px;
}

.booking-box .button:hover {
  background-color: #906427;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1439px) {
  .booking-box {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .booking-box {
    width: 80%;
    height: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .booking-box {
    width: 90%;
    height: 500px;
    padding: 10px;
  }
  
  .booking-box h2 {
    font-size: 24px;
  }
  
  .booking-box .button {
    font-size: 16px;
    padding: 8px 15px;
  }
}


/* BOOKING INDEX */


/* FORMULAIRE INSCRIPTION */

.signup-form h2 {
  font-size: 1.5em;
  text-align: center;
  color: #333;
  margin-bottom: 0.5em;
}

.signup-form-form {
  width: 30%;
  margin: 0 auto;
  text-align: left;
}

.signup-form-form input[type="text"],
.signup-form-form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.signup-form-form button[type="submit"],
.signup-form-form button[type="reset"] {
  width: 100%;
  background-color: #B6AC97;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form-form button[type="submit"]:hover,
.signup-form-form button[type="reset"]:hover {
  background-color: #392C1E;
}

/* LOGIN PAGE */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form h2 {
  margin-bottom: 20px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signup-form form label {
  margin-bottom: 10px;
}

.signup-form form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form form button {
  padding: 10px;
  background-color: #B6AC97;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}

.signup-form form button:hover {
  background-color: #392C1E;
}

/* CARTE */

.table-carte {
  margin: 0 auto;
  border-collapse: collapse;
    text-align: center;
    width: 50%;
}

.th-carte {
  background-color: #B6AC97;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}

.menu-item td {
  padding: 20px;
  border: 3px solid #ccc;
  background-color: white;
  text-align: center;
}

.filter {
  margin-bottom: 50px;
  text-align: center;
}

.btn {
  background-color: #392C1E;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Montserrat', serif;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-item-title {
  font-weight: bold;
  text-align: center;
}

.menu-item-price {
  font-weight: bold;
  color: #ff9000;
  text-align: center;
}

tr.menu-item {
  font-family: 'Lora', serif;
}


/* DATE PICKER */

#datePicker {
  font-family: 'Montserrat', sans-serif;
  color: #392C1E;
  padding: 10px;
  border-radius: 5px;

}

/* BOOKING PAGE */

.available-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* BOOKING BUTTON */

.slot-button {
  background-color: #B6AC97;
  color: #392C1E;
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;

}

.slot-button:hover {
  background-color: #392C1E;
  color: #B6AC97;
}

.selected {
  background-color:  #392C1E;
  color: #B6AC97;
}

/* FORM BOOKING */

.booking-form {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid black;
  background-color: #B6AC97;
}

.booking-form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Montserrat', serif;
}

.booking-form input,
.booking-form select {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.booking-form select {
  width: 100%;
}

#custom_value {
  width: 100px;
}


/* BOOKING BUTTON */

button.booking_button {
  font-size: 20px;
  padding: 20px 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
}



/* ADMIN */

table {
  font-family: 'Lora', serif;
}

/* FOOTER */

footer {
  background-color: #B6AC97;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer {
  background-color: #392C1E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  width: 20%;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  font-family: 'Montserrat', sans-serif;
  border: 1px;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}



/* DIVERS */

.split {
  height: 50px;
}
