* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

/* NAVBAR */ 

.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}


.nav-link {
  color: red;
  font-size: 22px;
}

.navbar li a {
  text-transform: uppercase;
  text-decoration: none;
}

/* BANNER IMAGE */

.banner-image {
  background-image: url(../../../img/cover.jpg);
  display: flex;
  background-size: cover;
  height: 125vh;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 180%;
}



/* FORMULAIRE */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
}

.signup-form input,
.signup-form select,
.signup-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.signup-form input[type="submit"]:hover {
  background-color: #45a049;
}