* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

.banner-image {
  background-image: url(../../../img/cover.jpg);
  display: flex;
  background-size: cover;
  height: 900px;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 180%;
}

.navbar li {
  display: inline-block;
  text-transform: uppercase;
}
